.sp{
    color: #2f4f4f;
    display: block;
}

div{
    display: inline-block;
}

#one{
    background-color: aqua;
    height: 200px;
    width: 200px;
}

#tw{
    background-color: blue;
    height: 200px;
    width: 200px;
}