body{
    background-color: beige;
}

h1{
    text-align: center;
    font-family: cursive;
}

#form{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select-tag{
    height: 30px;
    width: 200px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgb(186, 186, 186);
}

#button-press{
    height: 30px;
    width: 150px;
    font-size: 1rem;
    border: 1px;
    border-style: dotted;
    transition: 0.5s ease-in-out;
    background-color: rgb(186, 186, 186);
    border-radius: 5px;
}
 #button-press:hover{
    background-color: bisque;
 }

 #images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
img{
    margin: 20px;
    height: 40vh;
    width: 40vw;
}
