.container{
    height: 500px;
    width: 500px;
    background-color: lightgray;
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;

}

#div1{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

#div2{
    height: 100px;
    width: 100px;
    background-color: blue;

}
#div3{
    height: 100px;
    width: 100px;
    background-color: red;

}