@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(45deg);
    }

    50%{
        transform: rotate(90deg);
    }

    75%{
        transform: rotate(135deg);
    }

    to{
        transform: rotate(180deg);
    }
    
}





div{
    height:200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    left: 40%;
    top: 30%;
    animation: rotate 0.5s ease-in-out infinite alternate;
}